discord.py==2.3.2
aiohttp
requests
python-dotenv
typing_extensions
async-timeout
flask
yt-dlp
spotipy
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
aiohttp
async-timeout
discord.py==2.3.2
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
python-dotenv
requests
spotipy
sqlalchemy
typing_extensions
werkzeug
yt-dlp
