aiohttp
async-timeout
discord.py==2.7.1
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
PyNaCl
python-dotenv
requests
spotipy
sqlalchemy
typing_extensions
werkzeug
yt-dlp
pytest
pytest-asyncio
